@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,700&family=Ubuntu&display=swap');
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .navbar-brand{
    font-size: 1rem;
    color: aliceblue;
}
.navbar li a{
    color: aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.main{
    background-color: black;
}
.container img{
    height: 18rem;
}
.container .btn{
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #888888;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.box img{
    height: 18rem;
}
.input-box{
    display: flex;
    justify-content: center;
    margin-top: 27px;

}
.temp-box{
    border: 1px solid;
    height: 10rem;
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 13rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.error-image{
    height: 5rem;
    width: 5rem;
}
.city{
    text-align: center;
}
.temp{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:800px){
    .container{
        flex-direction: column-reverse;
    }
    .box{
        flex-direction: column-reverse;
    }
}

